@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);

.condensed{
  font-family: 'Roboto Condensed','Open Sans Hebrew Condensed','Roboto','Open Sans Hebrew','Helvetica Neue', Helvetica, Arial, sans-serif;;
}
html,body,h1,h2,h3,h4,h5,h6,p,a,label,button,text,textarea,div,span{
  font-family: 'Roboto','Open Sans Hebrew','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
}
body,html{
  background: #E8EAF6;
}
.container{
    margin-top: 24px;
}
.btn-default:active,.btn-default:focus{
outline: none !important;
border:none;
  box-shadow: 0 4px 7px #999 !important;

}
.btn-default{
  border:0;
  border-radius: 0;
  box-shadow: 0 2px 2px #999;
}
.btn{
    transition: all .2s;
}
.btn-primary{
  text-transform: uppercase;
  background-color: #3F51B5;
  border-radius: 0;
  border:none;
  font-weight: lighter;
  font-size: 17px;
  box-shadow: 0 2px 2px #999;
  outline: none;
}
.btn-primary:hover{
 background-color: #5C6BC0;
  box-shadow: 0 3px 4px #999;
}
.btn-primary:focus,.btn-primary:active{
  outline: none !important;
  background: #3949AB !important;
  box-shadow: 0 4px 7px #999 !important;
}
.btn.btn-primary.edActive{
  background-color: #B71C1C !important;
}
.mainh{
  color:#fff;
  background: #3F51B5;
}
.mainh h1{
   margin:0;
   padding:24px;
   text-align:center; 
   font-weight: 300;
  }
input {
  width: 100%;
  border:none;
  padding:6px;
  font-size:18px;
  background: #fafafa;
  float: left; 
   }
/*Clearing Floats*/
.cf:before, .cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

.cf {
    zoom:1;
}

    /* Flexbox Example */
    .flexbox { display: flex; }
    .flexbox .stretch { flex: 1; }
    .flexbox .normal { flex: 0; margin: 0; }
    .flexbox div input { padding: .5em 1em; width: 100%; }
    .flexbox div button {  white-space: nowrap; }

/* Form wrapper styling */
.form-wrapper {
  margin-top: 10px;
    width: 100%;box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    white-space: nowrap;
    margin-bottom: 4px;
}
.content{
    font-weight: bold;
}
.dateAdded{
    text-align:right;
}
.btnDelete{
    cursor: pointer;
    position: absolute;
    right:-60px;
    width:60px;
    top:0;
    bottom:0;
    border: none;
    font-size:20px;padding:0 20px;
    transition:all .2s;
    background: #eee;
    color:#B71C1C;
    outline: none;
}
.control-label{
    font-weight: bold;
}
.btnEdit{
    cursor: pointer;
    position: absolute;
    right:-60px;
    top:0;width:60px;
    bottom:0;
    border: none;
    font-size:20px;padding:0 20px;
    transition:all .2s;
    background-color: #eee;
    color:#444;
    outline: none;
}
.btnDelete:hover{
    background-color: #FFEBEE;
}
.btnEdit:hover{
    background-color: #d5d5d5;
}
/* Form text input */
.list-item{
    cursor: pointer;
    overflow: hidden;
    transition: all .2s;
    position: relative;
  background: #fafafa;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.item{
  padding: 16px;
  transition: all .2s;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;  
}
.mobHov{
  padding-right: 120px;
}
.mobHov .btnDelete{
    right:0;
}
.mobHov .btnEdit{
    right:60px;
}
.item .content{
  transition: all .2s;
}
.list-item:hover .btnDelete{
    right:0;
}
.list-item:hover .btnEdit{
    right:60px;
}
.list-item::nth-child(n){
      border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.item.checked{
  text-decoration: line-through;
  color:#888;
  background: #ccc;
  border-bottom: #ccc;
}
.item.checked .content{
  color:#888;
  padding-left: 32px;
}
.footer{
  padding-top: 20px;
  margin-top: 20px;
  background-color: #3F51B5;
  color:#fff;
}
.social-list{
  list-style: none !important;
  padding:0;
}
.social-text{
  color:#fff;
}
h5{
  font-size: 25px;
}
.footer-copyright{
  background:#3949AB;
  color:#fff;
  font-size:15px;
  height:50px;
  line-height: 50px;
}
.footer-copyright a{
  color:#fff;
}
.item.checked .content::before{
  position: absolute;
  left:0;
  top:0;
  bottom:0;
  font-family: 'Fontawesome';
  content:'\f00c \00a0';
  font-size:22px;
  line-height: 52px;
  color:#888;
  padding-left:16px;
}
.list-item:hover{
  padding-right: 120px;
}
.form-wrapper input {
    height: 100%;
    padding: 10px 5px;
    border: 0;
    background: #fafafa;
}

.form-wrapper input:focus {
    outline: 0;
    background: #f7f7f7;
}

.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}   

/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    border: 0;
    padding: 0;
    font-size:20px;
    cursor: pointer;
    height: 60px;
    padding:0 20px;
    color: #333;
    text-transform: uppercase;
    background: #ddd;
    outline: none;
}  

.form-wrapper button:hover {    
    background: #dfdfdf;
}  


.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}    
